{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<style>
  body{
  background-color: rgba(241, 106, 196, 0.418);
 }
  
  .col-md-7{
    margin-top:20vh;
  }
  form{
    background-color: transparent;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class='col-md-3' id='login'></div>
    <div class='col-md-7'>
    <div class="col-md-10">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center" style="font-family: 'Dancing Script', cursive;"><i class="fab fa-instagram"></i><b>Instagram</b></h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
          <div>Don't have an account?<a href="/accounts/register">Sign Up</a></div>
        </div>

      </div>
      <p class='text-muted small' style="text-align: center;">&copy; 2021 | InstaClone</p>
    </div>
    <!-- empty div -->
    <div class="col-md-4"></div></div>
  </div>
</div>

{% endblock %}